################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/A4 - Offline Ray Tracing/.vs/RayTracing
/A4 - Offline Ray Tracing/RayTracing/x64/Debug
/A4 - Offline Ray Tracing/x64/Debug
