################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/A4 - Offline Ray Tracing/.vs/RayTracing
/A4 - Offline Ray Tracing/RayTracing/x64/Debug
/A4 - Offline Ray Tracing/x64/Debug
/A4 - Offline Ray Tracing/.vs
/A7 - Particles/.vs/D3D11Starter
/A7 - Particles/D3D11Starter/x64/Debug
/A7 - Particles/packages/directxtk_desktop_win10.2024.9.5.1
/A7 - Particles/x64/Debug
